:root {
    font-size: 10px;
    font-family: "MyCustomFont";
    background-color: rgb(214, 214, 214);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/zt_gatha/ZTGatha-SemiBold.otf') format('truetype');
  }  
  
.label-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


form {
    border-radius: 50%;
}

label {
    margin: 2px;
    font-size: 1.5rem;
}

input {
    border: 1px solid black;
    margin-left: 5px;
    font-size: 1.25rem;
}

input:hover, button:hover {
    background-color: aqua;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    width: 100%;
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 1.5rem;
}

/* Start Transition Properties */
#application-form {
    opacity: 1;
    transition: all 1.5s ease-out 0.1s;
  }

#application-form.submitted {
    transform: translateY(-100%) ;
    opacity: 0;
}

#submitted-data {
    opacity: 0;
    translate: translateY(100%);
    transition: all 1s ease-out;
}

#submitted-data.submitted {
    opacity: 1;
    translate: translateY(-100%);
}

/* End Transition Properties */

#formResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    gap: min(10px,3vh);
}

button {
    width: 100%;
    font-size: 1.75rem;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 3vh;
}

button:active {
    background-color: rgb(145, 204, 255);
}